h2 {
	background-color: palevioletred;
	border-radius: 10px;
	color: white;
	padding: 5px 10px;
	text-transform: uppercase;
	width: fit-content;
}

main {
	padding: 15px;
}

ul {
	overflow-x: auto;
	padding-inline-start: 0;
	white-space: nowrap;
}

[v-cloak] {
	display: none;
}

.badge {
	border-radius: 10px;
	cursor: pointer;
	display: inline-block;
	margin-right: 10px;
	overflow: hidden;
	padding: 10px 15px;
}

.badge:last-of-type {
	margin-right: 0;
}

.badge img {
	border-radius: 50%;
	height: 100px;
}

.locked {
	filter: grayscale(1);
}
