:root {
	--theme-color: #4b2e83;
}

body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #FBF6FF;
	font-family: 'Comic Sans MS', sans-serif;
}

header {
	background-color: var(--theme-color);
	border-bottom: 1px solid rgba(0,0,0,.2);
	font-size: 24px;
	padding: 0;
	border: 0;
	position: fixed;
	top: 0;
	z-index: 1;
}

header h1 {
	font-family: 'JelleeBold';
	font-size: xx-large;
	font-weight: normal;
	font-style: normal;
	margin: 0;
}

.btn-back {
	--size: 28px;
	border: 1px solid rgba(0,0,0,.5);
	border-radius: 50%;
	float: left;
	font-size: 16px;
	height: var(--size);
	margin: 5px 10px;
	width: var(--size);
}

.btn-bar {
	text-align: center;
}

.btn-float {
	--size: 75px;
	background-color: var(--theme-color);
	border: 1px solid rgba(255,255,255,.2);
	border-radius: 50%;
	bottom: 15px;
	color: white;
	font-size: 24px;
	height: var(--size);
	position: fixed;
	right: 15px;
	transition: all .25s;
	width: var(--size);
}

.btn-main {
	background-color: var(--theme-color);
	border: 1px solid rgba(255,255,255,.2);
	border-radius: 70px;
	bottom: 15px;
	color: white;
	font-size: 24px;
	left: 15px;
	padding: 20px 30px;
	position: fixed;
	transition: all .25s;
	width: calc(100% - 30px);
}

.btn-main:hover {
	opacity: .8;
}

.btn-main:active {
	opacity: .6;
}

.btn-main:disabled {
	cursor: not-allowed;
	opacity: .4;
}

.flash {
	animation: .25s flash infinite;
	font-size: 18px;
}

.heading {
	width: fit-content;
	margin: 0 auto;
	color: white;
}

.heading img{
	display: inline;
	height: 75px;
	padding: 5px 0;
}

/* Navigation bar bottom */
nav {
	position: fixed;
	bottom: 0;
	background-color: #4b2e83;
	width: 100%;
}

nav ul {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding-top: 8px;
	padding-bottom: 8px;
}

nav li {
	margin: 0 20px;
}

nav li a {
	display: block;
	color: white;
	text-align: center;
	padding-left: 14px;
	padding-right: 14px;
	text-decoration: none;
}

nav li img {
	display: block;
	margin: 0 auto;
}

@keyframes flash {
	0% {
		color: red;
	}
	100% {
		color: darkgoldenrod;
	}
}
