:root {
	--theme-color: #4b2e83;
}
body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
header {
	border-bottom: 1px solid rgba(0,0,0,.2);
	font-size: 24px;
	padding: 10px 15px;
}
header h1 {
	font-size: inherit;
	font-weight: normal;
	margin: 0;
}
.btn-bar {
	text-align: center;
}
.btn-main {
	background-color: var(--theme-color);
	border: 1px solid rgba(255,255,255,.2);
	border-radius: 70px;
	bottom: 15px;
	color: white;
	font-size: 24px;
	left: 15px;
	padding: 20px 30px;
	position: fixed;
	transition: all .25s;
	width: calc(100% - 30px);
}
.btn-main:hover {
	opacity: .8;
}
.btn-main:active {
	opacity: .6;
}
.btn-main:disabled {
	cursor: not-allowed;
	opacity: .4;
}
.flash {
	animation: .25s flash infinite;
	font-size: 18px;
}
.icon-back {
	float: left;
	margin-right: 10px;
	margin-top: 5px;
}
@keyframes flash {
	0% {
		color: red;
	}
	100% {
		color: darkgoldenrod;
	}
}
