* {
	box-sizing: border-box;
}

body {
	overflow: hidden;
}

#map {
	margin-top: 75px;
	height: calc(100% - 145px);
}

.btn-check-out {
	background-color: var(--theme-color);
	border: 1px solid rgba(0,0,0,.5);
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	color: white;
	padding: 5px 10px;
	position: fixed;
}

