* {
	box-sizing: border-box;
}
body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
}
header {
	border-bottom: 1px solid rgba(0,0,0,.2);
	font-size: 24px;
	padding: 10px 15px;
}
#map {
	height: calc(100% - 127px);
}

nav {
	background-color: #4b2e83;
	width: 100%;
}

nav ul {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding-top: 8px;
	padding-bottom: 8px;
}

nav li {
	margin: 0 20px;
}
  
nav li a {
	display: block;
	color: white;
	text-align: center;
	padding-left: 14px;
	padding-right: 14px;
	text-decoration: none;
}

nav li img {
	display: block;
	margin: 0 auto;
}