<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,viewport-fit=cover">
		<title>Collection</title>
		<link rel="stylesheet" href="css/general.css">
		<link rel="stylesheet" href="css/collection.css">
	</head>
	<body>
		<header>
			<a href="map.html"><button id="btn-back" class="icon-back" aria-label="Back">&lt;</button></a>
			<h1>Collection</h1>
		</header>
		<main v-cloak>
			<section v-for="(value, key) in badges">
				<h2>{{key}}</h2>
				<ul>
					<li class="badge" v-for="item in value">
						<img v-bind:class="{locked: item.locked}" :src="item.url" @click="clicked()">
					</li>
				</ul>
			</section>
		</main>
		<script src="https://unpkg.com/vue@next"></script>
		<script src="js/collection.js"></script>
	</body>
</html>
